.widget {
	display: none;
	width: 340px;
	right: 15px;
	height: 450px;
	bottom: 1%;
	position: fixed;
	background: #ffffff;
	border-radius: 5px;
	box-shadow: 0px 2px 10px 1px #726F74;
}

.chat_header {
	height: 10%;
	background: #154E9E; 
	/* background: #F59A28; */
	/* #6072e6 */
	border-radius: 5px 5px 0px 0px;
	padding: 5px;
	font-size: 16px;
}

.chats {
	height: 345px;
	padding: 5px;
	margin-top: 0px;
	border-radius: 1px;
	overflow-y: scroll;
	transition: 0.2s;
}

div.chats::-webkit-scrollbar {
	width:none;
	/* remove scrollbar space /
    background: transparent;
    / optional: just make scrollbar invisible */
}


/* Track */

div.chats::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}


/* Handle */

div.chats::-webkit-scrollbar-thumb {
	background: #4C98CB;
}


/* Handle on hover */

div.chats::-webkit-scrollbar-thumb:hover {
	background: #6ACFF6;
}

#close {
	cursor: pointer;
}

.clearfix {
	margin-top: 2px;
	margin-bottom: 2px;
}

.message {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 0;
	margin-left: 0;
}

.botAvatar {
	border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    float: left;
    margin-left: 5px;
    border: 2px solid #154E9E;
    padding: 2px;
}

.botMsg {
	float: left;
	margin-top: 5px;
	background: #F59A28;
	box-shadow: 2px 5px 5px 1px #efeef5;
	border: 1px solid #F59A28;
	margin-left: 0.5em;
	padding: 0.6em 1em;
	border-radius: 0 12px 12px 12px;
	max-width: 55%;
	min-width: 25%;
	font-size: 12px;
	word-wrap: break-word;
	color: #FFFFFF;
}

.userMsg {
	animation: animateElement linear 0.2s;
    animation-iteration-count: 1;
    margin-top: 5px;
    word-wrap: break-word;
    padding: 0.6em 1em;
    float: right;
    margin-right: 0.5em;
    background: #154E9E;
    border: 1px solid #154E9E;
	box-shadow: 2px 5px 5px 1px #efeef5;
    color: #fff;
    border-radius: 12px 0 12px 12px;
    margin-bottom: 0.15em;
    font-size: 12px;
    max-width: 55%;
    min-width: 25%;
    line-height: 1.5em;
}

.userAvatar {
	animation: animateElement linear 0.3s;
    animation-iteration-count: 1;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    float: right;
    margin-right: 5px;
    border: 2px solid #154F9E;
    padding: 2px;
}

.singleCard {
	/* height: 200px; */
	padding-left: 10%;
	padding-right: 10px;
}

.suggestions {
	/* padding: 5px; */
    width: 80%;
    /* border-radius: 10px; */
    /* background: #ffffff; */
    /* box-shadow: 2px 5px 5px 1px #dbdade;*/
}

.cardsImage {
	width: 100%;
	height: 80%;
	border-radius: 10px 10px 0px 0px;
}

.keypad {
	height: auto;
    position: absolute;
    padding: 10px;
    width: 340px;
    background: #F0F0F0;
    bottom: 0;
	border-radius: 0px 0px 5px 5px;
}

.usrInput {
	background: #ffffff;
    padding: 0.5em;
    width: 90%;
    margin-right: 1%;
    border-radius: 20px;
    box-shadow: 0px 1px 7px 1px #dadadc;
    border: 0;
    padding-left: 15px;
    height: 40px;
    font-size: 14px;
    color: #2d2d2d;
}

input:focus {
	outline: none;
}

video:focus {
	outline: none;
}

.menuTitle {
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.menu {
	padding: 5px;
}

.menuChips {
	display: block;
    background: #ffffff;
    color: #154e9e;
	font-weight:bold;
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 14px;
    word-wrap: break-word;
    border: 1.5px solid #154e9e;
    box-shadow: 0px 1px 9px 0px #dbdade;
}

.imgcard {
	object-fit: cover;
	width: 80%;
	height: 90%;
	border-radius: 10px 10px 10px 10px;
	margin-left: 1%;
}

.chip {
	background-color: #6072e6;
	color: #fff;
	font-weight: normal;
	font-weight: 0;
	text-align: center;
}

@keyframes animateElement {
	0% {
		opacity: 0;
		transform: translate(0px, 10px);
	}
	100% {
		opacity: 1;
		transform: translate(0px, 0px);
	}
}

.imgProfile {
	box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.16), 0 0px 10px 0 rgba(0, 0, 0, 0.12);
	background: white;
	border-radius: 50px;
	width: 60%;
	padding: 2%;
	float:right;
}

.profile_div {
	position: fixed;
	padding: 5px;
	width: 100px;
	bottom: 5%;
	right: 1%;
	cursor: pointer;
	z-index: 99;
}

.profileIcon {
	height: 15%;
	align-items: center;
	float: left;
	margin-right: 10px;
}
.chat-title{
	color:white;margin-left: 5px;line-height:33px;
}
.chat-close{
	color:white;margin-right: 5px;float:right;margin-top: 5px;
}


@media screen and (max-width: 320px) {
.widget {
	width: 290px;
}

.keypad {
    width: 290px;
}
.usrInput{
	width:85%;
}
.usrInput {
	margin-right: 3%;
}

} 